<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Договор поставки</title>
    <style>
      body { 
        margin: 0; 
        font-size: 12px;
        padding: 0; background: #FFF; font-family: 'Times New Roman', Times, serif,
      sans-serif; } .container { width: 210mm; /* ширина листа A4 */ height:
      287mm; overflow-y: hidden; /* высота листа A4 */ margin: 0 auto; padding: 10mm; box-sizing:
      border-box; background: #FFF; } 
      .text-grid { width: 100%; padding: 5px;
      box-sizing: border-box; 
      text-wrap: balance;
      } h1 { text-align: center; font-size: 9px;} .rRow { width: 100%;
      display: flex; flex-wrap: nowrap; justify-content: space-between; }
      .rColumn { width: 50%; }
      .totalInfoColumn {
        min-height: 250px;
        position: relative;
      }

      .infoCtnr {
        border: 2px solid black;
        padding: 9px;
        min-height: 210px;
      }

      .printPlace {
        position: absolute;
        bottom: -50px;
        margin-left: 10px;
        width: 50%;
      }

      
      .printImg.print {
        position:absolute;
        margin-top: -79px;
        margin-left: 61px;
      }

      .printImg.sign {
        position:absolute;
        margin-left: 60px;
        margin-top: -63px;
      }

      p {
        line-height: 1.1;
        margin:4px 0;
        text-wrap: balance;
      }

      h2 {
        font-size: 12px;
        line-height: 1;
      }

      .text-grid p {
        width: 100%;
      }

      .tJust {
        text-align: justify;
      }

      .tLeft {
        text-align:left;
      }
    </style>
  </head>
  <body>
    <div id="content" class="container clearfix">
      <div class="text-grid">
        <h1>ДОГОВОР ПОСТАВКИ С УСЛОВИЕМ ОБ ОТСРОЧКЕ ПЛАТЕЖА №{{id}}</h1>
        <div style="width: 100%;display: flex;justify-content: flex-end;">
        <p style="text-align:end;">{{dateDay}}.{{dateMonthNum}}.{{dateYear}}</p>
        </div>
        <p class="tJust">ИП Ахмедов Сабир Табассумович, именуемое в дальнейшем “Поставщик”, в
          лице Индивидуального предпринимателя Ахмедов С. Т., действующего на
          основании Свидетельства о государственной регистрации индивидуального
          предпринимателя, с одной стороны, и
          {{orgName}}, именуемое в дальнейшем “Покупатель”, в лице
          {{user.ceo_genitive}}, действующего на основании
          {{user.ceo_base}}, с другой
          стороны, заключили настоящий договор, о нижеследующем:</p>

        <h2>1. Предмет договора</h2>
        <p class="tLeft">1.1. Поставщик обязуется передать в собственность Покупателя, а
          Покупатель принять и оплатить товар в Приложении №1 к настоящему
          договору.</p>
        <p class="tJust">1.2 Право собственности на товар переходит к покупателю с момента
          фактической передачи ему товара.</p>

        <h2>2. Порядок поставки товара. Приемка товара</h2>
        <p class="tJust">2.1 Поставщик производит поставку в течение 20 (двадцати) календарных
          дней с момента заключения настоящего договора.</p>
        <p class="tLeft">2.2 Доставка товара осуществляется Поставщиком либо Покупателем
          (самовывоз) – нужное подчеркнуть, затраты на доставку в этом случае
          входят в цену товара.</p>
        <p class="tJust">2.3 Покупатель обязан совершить все необходимые действия,
          обеспечивающие принятие товаров, поставленных в соответствии с
          настоящим договором. Передача товара Покупателю удостоверяется
          соответствующей отметкой на товарной накладной.</p>
        <p class="tLeft">2.4 При получении поставленного товара Покупатель обязуется
          незамедлительно осмотреть товар, проверить его количество и качество.
          В случае выявления недостатков товар Покупатель в присутствии
          представителя поставщика составляет соответствующий акт, подписываемый
          сторонами.</p>
        <p class="tJust">2.5 В случае обоснованного отказа покупателя от переданного
          Поставщиком товара, он обязуется обеспечить сохранность (ответственное
          хранение) этого товара и незамедлительно уведомить Поставщика о своем
          отказе принятого товара с указанием причины отказа.</p>
        <h2>3. Цены по договору и порядок расчетов</h2>
        <p>3.1 Цена товара на сумму {{ totalPrice }} ({{ wordSum }}) руб.00 коп. Без НДС.</p>
        <p>3.2 Передаваемые товары оплачиваются Покупателем за безналичный расчет с отсрочкой платежа сроком на 30 
          (тридцать) календарных дней</p>
        <h2>4. Ответственность сторон</h2>
        <p class="tJust">4.1 Любая из сторон настоящего договора, не исполнившая обязательства
          по договору или исполнившая их ненадлежащим образом, несет
          ответственность за это при наличии вины (умысла или неосторожности,
          небрежности, неосмотрительности).</p>
        <p class="tJust">4.2 Настоящий договор вступает в силу с момента его подписания
          Сторонами и действует скором на 1 (один) год.</p>
        <p class="tJust">4.3 Споры, которые могут возникать при исполнении настоящего
          договора, будут решаться путем переговоров. В случае не достижения
          согласия споры разрешаются в судебном порядке в Арбитражном суде по
          месту нахождения поставщика.</p>
        <p class="tLeft">4.4 Изменения и дополнения к настоящему договору оформляются в
          письменном виде, подписываются сторонами и являются неотъемлемой
          частью настоящего договора.</p>
        <p class="tLeft">4.5 В случае изменения юридического адреса или обслуживающего банка
          стороны договора обязаны в семидневный срок уведомить об этом друг
          друга.</p>
        <h2>5. Адреса, банковские реквизиты и подписи сторон</h2>
        <div class="rRow">
          <div class="rColumn totalInfoColumn">
            <div class="infoCtnr">
              <p>ПОСТАВЩИК: Индивидуальный предприниматель Ахмедов Сабир Табассумович</p>
              <p>Юридический адрес: Российская Федерация, 358007, Республика
              Калмыкия, г.Элиста, мкр. 1, дом 41, кв. 73.</p>
              <p>ОГРНИП: 323080000000130</p>
              <p>ИНН: 502765138514, КПП:</p>
              <p>Р/c: 40802810424435209932</p>
              <p>ФИЛИАЛ "ЦЕНТРАЛЬНЫЙ" БАНКА ВТБ (ПАО)</p>
              <p>БИК: 044525411</p>
              <p>К/с: 30101810145250000411</p>
              <p>ОКПО: 0153735163</p>
              <p>Тел./факс: +7(993)909-74-42</p>
              <p>e-mail: veselnikoff@inbox.ru</p>
            </div>
            <div class="printPlace">
              <div class="printTextBlock">
              <p>ИП Ахмедов С. Т. / __________________</p>
              <p>М.П.</p>
              <img class="printImg sign" src={{sign}} width="50" height="50" alt="Подпись" />
              <img class="printImg print" src={{print}} width="100" height="100" alt="Печать" />
              </div>
            </div>
          </div>
          <div class="rColumn totalInfoColumn">
            <div class="infoCtnr">
            <p>ПОКУПАТЕЛЬ: {{orgName}}</p>
            <p>Юридический адрес: {{user.law_address}}</p>
            <p>ИНН: УПН: {{user.inn}}</p>
            <p>Р/c: {{user.bank_account}}</p>
            <p>{{ user.bank_name }}</p>
            <p>БИК: {{user.bank_code}}</p>
            <p>К/с: {{user.corr_account}}</p>
            <p>e-mail: {{user.email}}</p>
            </div>
            <div class="printPlace">
              <p>{{user.full_name}}
               / __________________</p>
              <p>М.П.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>