<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Договор поставки</title>
    <style>
      body { 
        margin: 0; 
        font-size: 12px;
        padding: 0; background: #FFF; font-family: 'Times New Roman', Times, serif,
      sans-serif; } .container { width: 210mm; /* ширина листа A4 */  /* высота листа A4 */ margin: 0 auto; padding: 0 10mm 10mm 10mm; box-sizing:
      border-box; background: #FFF; } 
      .text-grid { width: 100%; padding: 0 5px 5px 5px;
      box-sizing: border-box; 
      text-wrap: balance;
      } h1 { text-align: center; font-size: 9px;} .rRow { width: 100%;
      display: flex; flex-wrap: nowrap; justify-content: space-between; }
      .rColumn { width: 50%; }
      .totalInfoColumn {
        min-height: 270px;
        position: relative;
      }

      .infoCtnr {
        /* border: 2px solid black; */
        padding: 8.5px;
        min-height: 230px;
      }

      .printPlace {
        position: absolute;
        bottom: -100px;
        margin-left: 10px;
        width: 90%;
      }

      
      .printImg.print {
        position:absolute;
        margin-top: -59px;
        margin-left: 81px;
      }

      .printImg.sign {
        position:absolute;
        margin-left: 80px;
        margin-top: -43px;
      }

      p {
        line-height: 1.2;
        margin:4px 0;
        text-wrap: balance;
      }

      h2 {
        font-size: 12px;
        line-height: 1;
      }

      .text-grid p {
        width: 100%;
      }

      .tJust {
        text-align: justify;
      }

      .tLeft {
        text-align:left;
      }
    </style>
  </head>
  <body>
    <div id="content" class="container clearfix">
      <div class="text-grid">
        <h1>ДОГОВОР ПОСТАВКИ №{{id}}</h1>
        <div style="width: 100%;display: flex;justify-content: flex-end;">
        <p style="text-align:end;">{{dateDay}}.{{dateMonthNum}}.{{dateYear}}</p>
        </div>
        <p class="tJust">ИП Ахмедов Сабир Табассумович, именуемое в дальнейшем “Поставщик”, в
          лице Индивидуального предпринимателя Ахмедов С. Т., действующего на
          основании Свидетельства о государственной регистрации индивидуального
          предпринимателя, с одной стороны, и
          {{orgTypeName}} {{orgNameNoType}}{{#if isie}}, действующий на основании Свидетельства
          {{else}}, в лице директора {{user.ceo_genitive}}, действующего на основании
          Устава{{/if}}, именуемое в дальнейшем “Покупатель”, с другой
          стороны, заключили настоящий договор{{#if (eq country "Беларусь")}}
          на основании действующего законодательства Республики Беларусь{{/if}}, о нижеследующем:</p>

        <h2>1. Предмет договора</h2>
        <p class="tLeft">1.1. Поставщик обязуется передать в собственность Покупателю, 
          а Покупатель принять и оплатить продукцию в порядке и на условиях, определённых настоящим договором. 
          Наименование, количество и цена товара, подлежащего передаче Покупателю   определяется в соответствии со 
          спецификацией, являющиеся приложением к договору, которые становятся его неотъемлемой частью.</p>
        <p class="tJust">1.2 Покупатель приобретает продукцию для собственного производства и (или) потребления.</p>

        <h2>2. Условия поставки</h2>
        <p class="tJust">2.1 Поставка  товара  осуществляется Покупателю в течение 20 рабочих дней 
          с момента поступления заказа от Покупателя при наличии заказанного товара на складе Продавца.</p>
        <p class="tLeft">2.2 Поставщик обязан предоставлять Покупателю вместе с товаром следующие товарно-сопроводительные документы (далее - ТСД):
        <p>счет (если необходим), счет-фактуру;</p>
        <p>упаковочный лист;</p>
        <p class="tLeft">товарную накладную, товарно-транспортную накладную либо CMR-накладную (в случае необходимости);</p>
        <p class="tLeft">сертификат соответствия или декларацию соответствия, 
          в случае, если поставляемый товар подлежит обязательному 
          подтверждению соответствия (в случае, если поставляемый товар не подлежит 
          обязательному подтверждению соответствия, Поставщиком предоставляется 
          Покупателю письмо, что поставляемый им товар не подлежит обязательному подтверждению соответствия).</p>
        <p class="tJust">2.3 В случае обнаружения несоответствий в оформлении 
          ТСД после приемки товара документы подлежат замене в течение 2 (двух) рабочих дней 
          с момента обнаружения несоответствия путем предоставления копий документов по электронной почте или по факсу, 
          а оригиналов при поставке следующей партии товара, но не позже 20 дней с момента обнаружения несоответствия.</p>
        <p class="tLeft">2.4 Все риски утраты либо повреждения товара переходят к Покупателю 
          с момента подписания ТСД в месте разгрузки (в случае доставки товара Поставщиком) 
          либо с момента погрузки продукции на транспорт Покупателя или уполномоченного перевозчика.</p>
        <p class="tJust">2.5 Поставщик обязан в письменной 
          форме (по электронной почте или по факсу) незамедлительно уведомить 
          Покупателя о наступлении обстоятельств, препятствующих своевременному осуществлению поставки, 
          в течение 2 рабочих дней с момента их наступления.</p>
        <p>2.6 Поставщик считается исполнившим свое обязательство по передаче товара 
          Покупателю надлежащим образом, а Покупатель получившим товар в случаях, когда:</p>
        <p>
          1) Покупатель самостоятельно забирает продукцию у Поставщика: 
          после передачи продукции лицу, включенному в список лиц, 
          уполномоченных подписывать ТСД и иные связанные с отгрузкой документы, 
          по предъявлении оригинала доверенности (в 2 экземплярах), паспорта и его ксерокопии и подписании ТСД;
        </p>  
        <p>
          1) Покупатель самостоятельно забирает продукцию у Поставщика: 
          после передачи продукции лицу, включенному в список лиц, 
          уполномоченных подписывать ТСД и иные связанные с отгрузкой документы, 
          по предъявлении оригинала доверенности (в 2 экземплярах), паспорта и его ксерокопии и подписании ТСД;
        </p>
        <p>
          2) Покупатель нанимает уполномоченного перевозчика: после передачи 
          товара водителю, по предъявлении оригинала доверенности (в 2 экземплярах), 
          паспорта и его ксерокопии и подписании ТСД. При этом Поставщик должен быть уведомлен 
          Покупателем по факсу или электронной почте не позднее 2 рабочих 
          дней о транспортном средстве (марка, модель, регистрационный знак) и водителе (Ф.И.О., паспортные данные);
        </p>
        <p>
          3) Поставщик доставляет товар своим транспортом: после передачи товара лицу, 
          включенному в список лиц, уполномоченных подписывать ТСД и иные связанные с отгрузкой документы, 
          по предъявлении оригинала доверенности (в 2 экземплярах),  паспорта и его ксерокопии и подписании ТСД.
        </p>
        <p class="tJust">
          Получение товара в случае доставки товара Поставщиком производится лицом, включенным в список лиц, 
          уполномоченных подписывать ТСД и иные связанные с отгрузкой документы. 
          При получении товара лицом, не включенным в список лиц, уполномоченных подписывать 
          ТСД и иные связанные с отгрузкой документы, предполагается, что лицо, 
          которое приняло продукцию по адресу, согласованному сторонами 
          в качестве адреса доставки, является лицом, уполномоченным на получение 
          товара от имени и в интересах Покупателя. После передачи товара лицу, 
          не включенному в список лиц, уполномоченных подписывать ТСД и иные связанные 
          с отгрузкой документы, обязательство Поставщика по передаче товара считается исполненным надлежащим образом. 
          Лицо, осуществляющее получение товара, должно подтвердить получение товара собственноручной подписью и 
          документами, указанными в части первой настоящего пункта. 
          При получении продукции директором (генеральным директором и т.п.) доверенность не предъявляется.
        </p>
        <p class="tJust">
        2.7. Вывоз товара со склада Поставщика производится транспортом и за счет Покупателя. 
        Базис поставки: EXW Москва, Инкотермс 2010. 
        Поставщик за свой счет осуществляет погрузку товара на транспортное средство Покупателя.
        </p>
        <p class="tJust">
        2.8. Пункт разгрузки (погрузки) согласовывается 
        Сторонами в письменном виде (посредством факсимильной связи или электронной почты) в спецификации. 
        Разгрузка товара на складе Покупателя (в месте доставки) производится силами и за счет Покупателя.
        </p>
        <p>2.9. Покупатель обязуется:</p>
          <p>- своевременно принять и оплатить товар, поставленный в соответствии с условиями настоящего договора и спецификации;</p>
          <p>- обеспечить присутствие в месте разгрузки лица, уполномоченного на приемку продукции по товаросопроводительным документам;</p>
          <p>- обеспечить надлежащее оформление ТСД, в том числе отметить время прибытия автотранспорта под разгрузку и окончания разгрузки. 
        </p>
        <h2>3. Цена товара</h2>
        
        <p>3.1. Цена товара определяется в соответствии со спецификацией, 
          которая является неотъемлемой частью настоящего договора.</p>
        <p>3.2. Валюта платежа: российский рубль.</p>
        <p>3.3. Общая сумма договора состоит из суммы спецификаций, являющихся неотъемлемой частью настоящего договора. 
          Упаковка и тара включена в цену продукции.</p>
        <h2>4. Условия оплаты</h2>
        <p class="tJust">4.1. Условия расчета - предоплата либо отсрочка платежа. 
          В случае отсрочки платежа Покупатель производит 
          полный расчет за поставленный товар не позднее 30 календарных дней с момента 
          отгрузки Поставщиком товара со склада Поставщика. 
          Конкретные условия расчётов могут согласовываться в спецификациях, 
          которые являются неотъемлемой части настоящего договора.</p>
        <p class="tJust">4.2. Расчет за поставленный товар осуществляется 
        путем перечисления денежных средств на текущий (расчетный) 
        банковский счет Продавца, обозначенный в настоящем договоре.</p>
        <p class="tJust">4.3. Цены указываются в соответствующих спецификациях, счетах и (или) счетах-фактурах Поставщика. </p>
        <h2>5. Требование к товару. Тара и упаковка</h2>
           <p class="tJust">5.1. Поставщик обязан поставлять Покупателю товар в количестве, комплектности, 
            ассортименте и качестве в соответствии с заказом и спецификацией.</p>  
           <p class="tJust">5.2. Качество товара должно соответствовать обязательным требованиям, 
            предусмотренным законом, включая требования 
            к безопасности продукции для жизни и здоровья потребителя. 
            Качество товара должно подтверждаться необходимыми для торговли сертификатами 
            соответствия или иными документами (гигиеническим заключением, 
            сертификатом качества, сертификатом происхождения, техническим паспортом, 
            сертификатами и декларациями о соответствии и т.п.). В случае если товар 
            не подлежит обязательной сертификации или декларированию в Российской Федерации, 
            Поставщик обязан предоставить Покупателю письмо о необязательности сертификации 
            или декларировании такого товара. В случае если поставка/изготовление товара подлежат
             лицензированию в соответствии с действующим законодательством Российской Федерации, 
             Поставщик предоставляет Покупателю копию лицензии на поставку/изготовление такого товара. 
             Поставщик должен также передать Покупателю в необходимом количестве надлежащим образом 
             оформленные эксплуатационные документы, которые предоставляются Покупателю вместе 
            с продукцией (технические паспорта, гарантийные талоны/свидетельства, инструкции по эксплуатации и т.д.).</p>  
            <p class="tJust">5.3. Требования к упаковке и маркировке товара:</p> 
            <p>5.3.1. Товар должен иметь надлежащую тару и упаковку, 
              позволяющую сохранять все его качества во время транспортировки и хранения.</p>    
            <p>5.4. Товар должен поставляться в таре и (или) 
              упаковываться обычным для него способом в упаковку, 
              а в случае их отсутствия - способом, обеспечивающим 
              хранение продукции при обычных условиях хранения, транспортировки и разгрузки, если 
              Покупателем не установлены дополнительные требования к упаковке товара.
            </p>  
            <p>5.5. Покупатель не обязан возвращать Поставщику упаковку, 
                тару и иные средства пакетирования, 
               в которых была поставлен товар, переданные 
               Поставщиком Покупателю, если иное не установлено дополнительным соглашением к договору.
            </p>
        <h2>6. Приемка товара</h2>
        <p class="tJust">6.1. Приемка товара осуществляется:
            по количеству - согласно количеству, указанному в ТСД;
            качеству - согласно документам о качестве.
            </p>
            <p class="tJust">6.2. Приемка товаров по количеству производится в момент получения товара 
              Покупателем согласно товарно-транспортной накладной, в которой делается отметка 
              о получении товара. При получении товара 
              Покупатель обязуется проверить продукцию на наличие видимых повреждений и недостач.
            </p>
            <p class="tJust">6.3. В случае обнаружения несоответствия количества, 
              комплектности и качества продукции Покупатель обязуется 
              немедленно уведомить Поставщика и направить рекламацию в течение 2 календарных дней 
              с момента обнаружения такого несоответствия. Содержание 
              и обоснование рекламации должно быть подтверждено актом, 
              составленным и подписанным уполномоченным лицом Покупателя. 
              Участие представителя Поставщика в проведении приемки по качеству 
              и в составлении акта не является обязательным. Непредставление 
              Покупателем рекламации в течение указанного срока означает 
              факт принятия Покупателем продукции по количеству и качеству. 
              Рекламации по количеству товара после подписания товарно-транспортной 
              накладной уполномоченными лицами Покупателя не принимаются.
            </p>
            <p class="tJust">6.4. Акт о дефектах, которые не могли быть обнаружены при приемке товара, 
              должен быть составлен в течение 2 календарных дней с момента приемки товара 
              в месте разгрузки (погрузки) при условии соблюдения Покупателем правил хранения и транспортировки.
            </p>
            <p class="tJust">6.5. Право собственности на товар переходит от Поставщика к 
            Покупателю в момент подписания ТСД. 
            </p>
        <h2>7. Гарантии и обязательства Сторон</h2>
            <p class="">7.1. Стороны гарантируют: 
            </p>  
            <p class="tJust">
              7.1.1. Наличие всех полномочий у Сторон на заключение и исполнение настоящего договора.
            </p> 
            <p class="tJust">
              7.1.2. Точность информации и материалов, 
              предоставляемых каждой из Сторон другой Стороне, 
              и что Стороны вправе предоставлять другой Стороне информацию для использования 
              в связи с исполнением настоящего договора, не ущемляя права какой-либо третьей стороны.
            </p>  
            <p class="tJust">
              7.2. Покупатель гарантирует осуществление своевременной оплаты товара в сроки, 
              предусмотренные данным договором и дополнительными соглашениями к нему.
            </p>  
            <p class="">
              7.3. Поставщик гарантирует:
            </p>  
            <p class="tJust">
              7.3.1. Качество товара должно соответствовать 
              требованиям нормативно-технической документации на продукцию такого рода, действующим в Российской Федерации.
            </p>     
            <p class="tJust">
              7.3.2. Наличие всех разрешений, лицензий (в том числе от производителей продукции) 
              и одобрений, включая сертификаты и декларации о соответствии 
              и всех иных необходимых документов, необходимые 
              Поставщику для надлежащего исполнения его обязательств по настоящему договору.
            </p>   
            <p class="">
              7.4. Стороны обязуются:
            </p> 
            <p class="tJust">
              7.4.1. Не делать никаких устных или письменных заявлений 
              в частном или открытом порядке, не совершать иных действий, 
              которые причинят или могут причинить вред репутации другой Стороны или способствуют 
              или могут способствовать распространению порочащих сведений о ее деятельности, товарах или услугах.
            </p>
            <p class="tJust">
              7.4.2. Без промедления информировать друг друга 
              о любых изменениях своего наименования, организационно-правовой формы, 
              юридического адреса и банковских реквизитов 
              путем направления информационных писем на бланке организации с указанием соответствующих изменений.
            </p>
            <p class="tJust">
              7.5. Покупатель обязан предоставить Поставщику заявление 
              о ввозе товаров и уплате косвенных налогов, 
              составленное по форме приложения 1 к Протоколу 
              об обмене информацией в электронном виде между налоговыми органами 
              государств - членов таможенного союза об уплаченных суммах косвенных налогов, 
              с отметкой налогового органа государства - члена таможенного союза, 
              на территорию которого импортированы товары, 
              об уплате косвенных налогов (освобождении или ином порядке, исполнения налоговых обязательств) 
              - в течение 90 дней со дня отгрузки продукции.
            </p>
          <h2>8. Ответственность Сторон</h2>
          <p class="tJust">
              8.1. Если настоящим договором, 
              дополнительным соглашением к настоящему договору, 
              не предусмотрено иное, Стороны несут 
              ответственность за неисполнение или ненадлежащее исполнение своих обязательств 
              по настоящему договору в соответствии 
              с действующим законодательством {{#if (eq country "Беларусь")}}
              Республики Беларусь
              {{else}}
              Российской федерации
              {{/if}}.
            </p>
            <p class="tJust">
              8.2. Стороны возместят друг другу убытки, 
              которые любая из Сторон понесла в результате любых неправомерных 
              действий или бездействия другой Стороны. 
              Имущественная ответственность Сторон по настоящему договору 
              применяется только при условии предъявления претензии в письменной форме. Срок рассмотрения претензий, 
              связанных с исполнением настоящего договора, составляет 20 рабочих дней после даты ее получения Стороной
            </p>
            <p class="tJust">
              8.3. В случае нарушения сроков оплаты, обозначенных в настоящем договоре, 
              либо в документах, подписываемых в связи с ним, 
              Покупатель несет ответственность в форме уплаты пени в размере 
              0,2% от неуплаченной суммы за каждый календарный день просрочки 
              платежа вне зависимости от обязанности возместить убытки в полном объеме.
            </p>
            <p class="tJust">
              8.4. В случае нарушения Покупателем сроков оплаты, указанных 
              в п. 5.1 договора, Поставщик оставляет за собой право уменьшить 
              оптовую скидку, предоставляемую Покупателю согласно 
              п. 4.4 договора, на 0,1% в следующем расчетном периоде, 
              в случае повторного нарушения выше обозначенного пункта договора в текущем расчетном периоде, 
              - уменьшить оптовую скидку на 0,1% в следующем расчетном периоде.
            </p>
            <p class="tJust">
              8.5. В случае несоблюдения Покупателем сроков оплаты Поставщик 
              имеет право аннулировать поступивший заказ от Покупателя, а также изменить цену товара.
            </p>
            <p class="tJust">
              8.6. В случае нарушения Покупателем условий, предусмотренных настоящим договором, 
              Покупатель самостоятельно и в полной мере несет ответственность, а Поставщик 
              в таких случаях вправе не исполнять заказы Покупателя (приостановить поставки) до прекращения нарушений.
            </p>
            <p class="tJust">
              8.7. В случае отзыва Покупателем заказа либо отказа 
              Покупателя от приемки продукции по предоставленной им в соответствии 
              с договором заказу (либо гарантийном письме) Продавцом может быть взыскан 
              штраф в размере 30% от стоимости партии продукции, указанной в заказе (гарантийном письме). 
              Поставщик также имеет право уменьшить последующую оптовую скидку, предоставляемую 
              Покупателю согласно п. 4.4 договора, на 0,1% в следующем расчетном периоде.
            </p>
            <p class="tJust">
              8.8. За нарушение п. 8.8 настоящего договора 
              Покупатель уплачивает штраф в размере 20% от стоимости поставленной продукции.
            </p>
            <p class="tJust">
              8.9. Во всем остальном, что не предусмотрено настоящим договором, 
              Стороны несут ответственность в соответствии с действующим законодательством Республики Беларусь.
            </p>
        <h2>9. Конфиденциальность</h2>
        <p class="tJust">
              9.1. Стороны обеспечивают строгую конфиденциальность любой информации, 
              полученной при заключении или исполнении настоящего договора 
              и любого заказа, заключенного в соответствии 
              с настоящим договором (далее - конфиденциальная информация), 
              и обязаны предпринять все необходимые меры по предотвращению разглашения такой информации.
        </p>
        <p class="tJust">
              9.2. Настоящим договором Стороны обязуются 
              не разглашать конфиденциальную информацию 
              третьим сторонам без предварительного письменного разрешения другой 
              Стороны и предпринимать все разумно необходимые меры по обеспечению 
              неразглашения конфиденциальной информации работниками Сторон, 
              за исключением случаев, предусмотренных действующим законодательством.
        </p>
        <p class="tJust">
              9.3. Каждая Сторона обязана по требованию другой Стороны, 
              или по истечении, или прекращении, или расторжении настоящего 
              договора незамедлительно вернуть другой Стороне любые документы 
              или иные носители информации, содержащие конфиденциальную информацию, принадлежащую другой Стороне.
        </p>
        <p class="tJust">
              9.4. Стороны обязуются не разглашать конфиденциальную информацию третьим лицам 
              в течение срока действия настоящего договора, а также в течение 3 лет после его прекращения.
        </p>
        <h2>10. Форс-мажор</h2>
        <p class="tJust">
              10.1. Сторона освобождается от ответственности за частичное или полное неисполнение 
              ее обязательств по настоящему договору, если оно вызвано форс-мажорными обстоятельствами, 
              возникшими после заключения настоящего договора. 
              Форс-мажорными считаются следующие обстоятельства: стихийные явления, война, 
              эмбарго, восстания или общественные беспорядки, террористические акты, 
              эпидемии, пожар, природные физические катастрофы, 
              такие как сильные штормы или циклоны, наводнения, землетрясения, разрушения от молнии, 
              национальные или отраслевые забастовки, 
              а также другие обстоятельства, которые не могла предвидеть Сторона при исполнении договора.
        </p>
        <p class="tJust">
              10.2. После наступления форс-мажорных обстоятельств Сторона, 
              заявляющая о неспособности исполнить свои обязательства по причине их наступления, 
              должна уведомить в письменной форме другую Сторону о таких обстоятельствах в течение 3 рабочих дней 
              с момента наступления форс-мажорных обстоятельств. Такое уведомление включает информацию 
              о характере таких обстоятельств и о том, почему такие обстоятельства 
              не позволяют исполнять настоящий договор, а также, если это возможно, оценку 
              их влияния на способность Стороны в будущем исполнять свои обязательства по настоящему договору.
        </p>
        <p class="tJust">
              10.3. В случае наступления форс-мажорных обстоятельств исполнение 
              Сторонами обязательств по настоящему договору или заказу, сделанному 
              в соответствии с настоящим договором, приостанавливается на срок действия таких обстоятельств.
        </p>
        <p class="tJust">
              10.4. Если соответствующие форс-мажорные обстоятельства длятся более 4 (четырех) недель, 
              Стороны проводят переговоры по оценке ситуации и по нахождению взаимоприемлемых решений. 
              Если это невозможно, любая Сторона вправе 
              в одностороннем порядке расторгнуть настоящий договор, уведомив об этом другую Сторону в письменной форме.
        </p>
        <h2>11. Срок действия и условия расторжения договора</h2>
        <p class="tJust">
              11.1. Настоящий договор вступает в силу с даты его подписания и действует 
              до 31 декабря {{dateYear}}г. 
              Если за 30 календарных дней до окончания указанного срока действия договора
               Стороны не уведомят в письменном виде друг друга о прекращении данного договора, 
              он считается пролонгированным на каждый последующий календарный год. Количество пролонгаций не ограничено.
        </p>
        <p class="tJust">
              11.2. Если иное не предусмотрено настоящим договором, Стороны вправе расторгнуть настоящий договор 
              в одностороннем порядке, уведомив другую сторону не позднее 30 дней до даты расторжения.
        </p>
        <p class="tJust">
              11.3. Расторжение/прекращение действия договора не освобождает 
              Стороны от исполнения обязательств, возникших в период действия договора, 
              которые не были выполнены до даты расторжения/прекращения действия, 
              а также не освобождает от ответственности, 
              возникающей вследствие невыполнения таких обязательств.
        </p>
        <h2>12. Заключительные положения</h2>
        <p class="">
              12.1. С момента подписания настоящего договора все предыдущие переговоры и переписка по нему теряют силу.
        </p>
        <p class="tJust">
              12.2. Любые сообщения, документы, 
              отправленные по факсу или электронной почте 
              (в том числе дополнительные соглашения к договору, спецификации, 
              акты и другие документы, касающиеся данного договора), 
              содержащие подписи уполномоченных лиц Сторон и оттиски печатей, 
              имеют юридическую силу до обмена Сторонами оригиналами указанных документов. 
              Счета, счета-фактуры и накладные, переданные Поставщиком 
              Покупателю по факсу или электронной почте, содержащие подпись уполномоченного лица 
              Поставщика и оттиск печати, имеют юридическую силу до момента получения 
              Покупателем оригиналов указанных документов. 
              Перечисленные в настоящем пункте сообщения и документы, отправленные по факсу или электронной 
              почте и содержащие подписи уполномоченных лиц Сторон и оттиски печатей, при необходимости будут являться 
              доказательствами при рассмотрении споров между Сторонами в соответствующих судебных инстанциях.
        </p>
        <p class="tJust">
              12.3. Любые изменения и дополнения к договору являются его неотъемлемой частью и имеют юридическую силу 
              только в случае их письменного оформления и подтверждения подписями и печатями обеих Сторон.
        </p>
        <p class="tJust">
              12.4. В случае изменения реквизитов любой из 
              Сторон по настоящему договору (за исключением адресов электронной почты) Сторона, 
              у которой произошли данные изменения, обязана уведомить другую сторону посредством 
              направления соответствующего уведомления заказным письмом с уведомлением 
              о вручении или нарочным с последующим направлением копии уведомления по электронной почте. 
              Получение Стороной соответствующего уведомления является надлежащим извещением.
        </p>
        <p class="">
              12.5. Недействительность каких-либо положений настоящего договора 
              не влечет недействительности настоящего договора в целом.
        </p>
        <p class="">
              12.6. Настоящий договор составлен в 2 подлинных экземплярах 
              на русском языке, каждый из которых имеет одинаковую юридическую силу.
        </p>
        <p class="">
              12.7. Покупатель является плательщиком налога при УСН.
        </p>
        <p class="">
              12.8. Все споры Сторон разрешаются в экономическом суде г. Минска в соответствии 
              с правом 
              {{#if (eq country "Беларусь")}}
              Республики Беларусь
              {{else}}
              Российской федерации
              {{/if}}..
        </p>
        <p class="">
              12.9. Покупатель обязан по требованию Поставщика 
              предоставить подписанный со своей стороны акт сверки взаимных расчетов.
        </p>
        <h2>13. Адреса, банковские реквизиты и подписи сторон</h2>
        <div class="rRow">
          <div class="rColumn totalInfoColumn">
            <div class="infoCtnr">
              <p>ПОСТАВЩИК: Индивидуальный предприниматель Ахмедов Сабир Табассумович</p>
              <p>Юридический адрес: Российская Федерация, 358007, Республика
              Калмыкия, г.Элиста, мкр. 1, дом 41, кв. 73.</p>
              <p>ОГРНИП: 323080000000130</p>
              <p>ИНН: 502765138514, КПП:</p>
              <p>Р/c: 40802810424435209932</p>
              <p>ФИЛИАЛ "ЦЕНТРАЛЬНЫЙ" БАНКА ВТБ (ПАО)</p>
              <p>БИК: 044525411</p>
              <p>К/с: 30101810145250000411</p>
              <p>ОКПО: 0153735163</p>
              <p>Тел./факс: +7(993)909-74-42</p>
              <p>e-mail: veselnikoff@inbox.ru</p>
            </div>
            <div class="printPlace">
              <div class="printTextBlock">
              <p>Индивидуальный предприниматель</p>
              <p>Ахмедов С. Т. / __________________ М.П.</p>
              <img class="printImg sign" src={{sign}} width="50" height="50" alt="Подпись" />
              <img class="printImg print" src={{print}} width="100" height="100" alt="Печать" />
              </div>
            </div>
          </div>
          <div class="rColumn totalInfoColumn">
            <div class="infoCtnr">
            <p>ПОКУПАТЕЛЬ: {{orgTypeName}} {{orgNameNoType}}</p>
            <p>Юридический адрес: {{user.law_address}}</p>
            <p>ИНН: УПН: {{user.inn}}</p>
            <p>Р/c: {{user.bank_account}}</p>
            <p>{{ user.bank_name }}</p>
            <p>БИК: {{user.bank_code}}</p>
            <p>К/с: {{user.corr_account}}</p>
            <p>e-mail: {{user.email}}</p>
            </div>
            <div class="printPlace">
              <p>{{#if isie}}{{else}}Директор{{/if}} {{ orgType }} {{orgNameNoType}}</p>
              <p>{{userNameInitials}} / __________________ М.П.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>