<!DOCTYPE html>
<html>
<head>
    <style>
        .main
{
  width: 72%;   /* 978px */
  margin: 0 auto;
  font-size: 6px;
}
.signBlock {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
    </style>
</head>
<body>
<div class="main">
<table width="100%" style="font-family: Arial;">
    <tr >
        <td style="padding: 10px 0;">
            <div style="text-align: justify;">Внимание! Оплата данного счета означает согласие с условиями поставки товара. Счет действителен в течение 5(пяти) банковских дней, не считая дня выписки счета. Уведомление об оплате  обязательно, в противном случае НЕ ГАРАНТИРУЕТСЯ наличие товара на складе. Товар отпускается по факту прихода денег на р/с Поставщика, самовывозом, при наличии доверенности и паспорта.</div>
        </td>
    </tr>
    
</table>


<table border="2" style="border-collapse: collapse; width: 100%; font-family: Arial;font-size: 8px;" cellpadding="2" cellspacing="2">
    <tr style="">
        <td colspan="2" rowspan="2" style="min-height:9mm; width: 95mm;">
            <table border="0" cellpadding="0" cellspacing="0" style="height: 9mm;">
                <tr>
                    <td valign="top">
                        <div>ФИЛИАЛ "ЦЕНТРАЛЬНЫЙ" БАНКА ВТБ (ПАО)</div>
                    </td>
                </tr>
                <tr>
                    <td valign="bottom" style="height: 3mm;">
                        <div style="">Банк получателя</div>
                    </td>
                </tr>
            </table>
        </td>
        <td style="min-height:45mm;line-height:1mm;width: 21mm;padding: 1px;">
            <div>БИK</div>
        </td>
        <td rowspan="2" style="vertical-align: top; width: 55mm;padding:0;">
            <div style="height: 3.2mm;line-height: 3.3mm;border-bottom: 1px solid #808080;padding-left: 0px;margin-left: -2px;">
                <span style="padding-left: 4px">044525411</span>
                </div>
            <div style="padding-top: 2px;margin-left: 2px;">40802810424435209932</div>
        </td>
    </tr>
    <tr>
        <td style="vertical-align: top;">
            <div style="margin-left:-1px;">Р/cч. №</div>
        </td>
    </tr>
    <tr>
        <td style="min-height:6mm; height:auto; width: 39mm;">
            <div>ИНН 502765138514</div>
        </td>
        <td style="min-height:6mm; height:auto; width: 43mm;">
            <div>КПП </div>
        </td>
        <td rowspan="2" style="min-height:19mm; height:auto; vertical-align: top;">
            <div>Кор. сч. №</div>
        </td>
        <td rowspan="2" style="min-height:19mm; height:auto; vertical-align: top; width: 50mm;">
            <div>30101810145250000411</div>
        </td>
    </tr>
    <tr>
        <td colspan="2" style="min-height:8mm; height:auto;">

            <table border="0" cellpadding="0" cellspacing="0" style="height: 8mm; width: 78mm;">
                <tr>
                    <td valign="top">
                        <div>ИП Ахмедов Сабир Табассумович</div>
                    </td>
                </tr>
                <tr>
                    <td valign="bottom" style="height: 3mm;">
                        <div style="">Получатель</div>
                    </td>
                </tr>
            </table>

        </td>
    </tr>
</table>
<br/>

<div style="font-weight: bold; font-size: 16px; padding-left:5px; font-family: Arial;">
    Счет №{{ id }} от {{dateDay}}.{{ dateMonthNum }}.{{dateYear}}</div>
<br/>

<div style="background-color:#000000; width:100%; font-size:1px; height:2px;">&nbsp;</div>

<table width="100%" style="font-family: Arial;">
    <tr>
        <td style="width: 30mm; vertical-align: top;">
            <div style=" padding-left:2px; ">Поставщик:    </div>
        </td>
        <td>
            <div style="font-weight:bold;  padding-left:2px;">
                ИП Ахмедов Сабир Табассумович ИНН 502765138514, КПП ,<br>
<span style="font-weight: normal;">Российская Федерация, 358007, Республика
              Калмыкия, г.Элиста, мкр. 1, дом 41, кв. 73.</span>          </div>
        </td>
    </tr>
    <tr>
        <td style="width: 30mm; vertical-align: top;">
            <div style=" padding-left:2px;">Покупатель:    </div>
        </td>
        <td>
            <div style="font-weight:bold;  padding-left:2px;">
               {{user.full_name}}, ИНН {{ user.inn }}<br><span style="font-weight: normal;">{{ user.law_address }}</span>            </div>
        </td>
    </tr>
</table>


<table border="2" width="100%" cellpadding="2" cellspacing="2" style="border-collapse: collapse; width: 100%; font-family: Arial;">
    <thead>
    <tr>
        <th style="width:4mm; ">№</th>
       
        <th style="width:120mm; ">Товары (работы, услуги)</th>
        <th style="width:6mm; ">Кол-во</th>
        <th style="width:6mm; ">Ед.</th>
        <th style="width:12mm;  ">Цена</th>
        <th style="width:12mm;  ">Сумма</th>
    </tr>
    </thead>
    <tbody >
      <tr>
        <td style="width:5mm; ">№</td>   
        <td style="width:120mm; ">Товар</td>
        <td style="width:6mm; ">Кол-во</td>
        <td style="width:6mm; ">Шт.</td>
        <td style="width:12mm; text-align: center; ">Цена</td>
        <td style="width:12mm; text-align: center; ">Сумма</td>
    </tr>
    {{#each items}}
    <tr>
        <td style="width:13mm; ">{{rowNum}}</td>   
        <td>{{name}}</td>
        <td style="width:20mm; ">{{quantity}}</td>
        <td style="width:17mm; ">Шт.</td>
        <td style="width:27mm; text-align: center; ">{{price}}</td>
        <td style="width:27mm; text-align: center; ">{{sum}}</td>
    </tr>
    {{/each}}
    </tbody>
</table>

<table style="font-family: Arial;" border="0" width="100%" cellpadding="1" cellspacing="1">
    <tr>
        <td></td>
        <td style="width:27mm; font-weight:bold;  text-align:right;">Итого:</td>
        <td style="width:27mm; font-weight:bold;  text-align: center; ">{{ totalPrice }}.00</td>
    </tr>
  <tr>
        <td></td>
        <td style="width:27mm; font-weight:bold;  text-align:right;">В том числе НДС:</td>
        <td style="width:27mm; font-weight:bold;  text-align: center; ">-</td>
    </tr>
  <tr>
        <td></td>
        <td style="width:37mm; font-weight:bold;  text-align:right;">Всего к оплате:</td>
        <td style="width:27mm; font-weight:bold;  text-align: center; ">{{ totalPrice }}.00</td>
    </tr>
</table>

<br />
<div style="font-family: Arial;">
Всего наименований {{ totalCount }} на сумму {{ totalPrice }}.00 рублей.<br />
{{ wordSum }} рублей 00 копеек</div>
<br /><br />
<div style="background-color:#000000; width:100%; font-size:1px; height:2px;">&nbsp;</div>
<br/>
  <div style="font-family: Arial;">
1. Счет действителен в течении 5 (пяти) банковских дней, не считая дня выписки счета. В случае нарушения срока оплаты сохранение цены на товар и наличие товара на складе НЕ ГАРАНТИРУЕТСЯ.<br />
2. Оплата данного счета означает согласие с условиями изложенными в п.1</div>
  <br /><br />
<div style="display:flex;">
    <div class="signBlock">
        <div>Руководитель ______________________ </div>
        <div style="background: url('{{sign}}');  background-repeat: no-repeat; width: 40px;
height: 40px;background-size: 100%;margin-top:-22px;margin-left:0px;"></div>
    </div>
    <div class="signBlock" style="margin-left:120px;">
        <div>Бухгалтер ______________________</div>
        <div style="background: url('{{sign}}');  background-repeat: no-repeat; width: 40px;
height: 40px;background-size: 100%;margin-top:-22px;margin-left:0px;"></div>
    </div>
</div>
<br/>

<div style="width: 40mm;text-align:center;">М.П.</div>
<br/>
<div style="background: url('{{print}}');  background-repeat: no-repeat; width: 120px;
height: 120px;background-size: 100%;position:absolute;margin-top:-80px;margin-left:40px;"></div>
  </div>
  <br/>  <br /><br /><br/>  <br /><br /><br/>  <br /><br />
</div>
</body>
</html>