<html>
  <body>
    <h3>Заявка от пользователя {{full_name}}!</h3>
    <p>Список товаров прилагается, контактные данные:</p>
    <p>Дата заказа</p>
    <p>{{date}}</p>
    <p>Дата документа</p>
    <p>{{closestDate}}</p>
    <p>Номер документа</p>
    <p>{{docId}}</p>
    <p>Телефон</p>
    <p>{{phone}}</p>
    <p>Почта</p>
    <p>{{email}}</p>
    <p>Название</p>
    <p>{{full_name}}</p>
    <p>ИНН/УНП</p>
    <p>{{inn}}</p>
    <p>Руководитель</p>
    <p>{{ceo_full}}</p>
    <p>Юридический адрес</p>
    <p>{{law_address}}</p>
    <p>Грузополучатель</p>
    <p>{{cargo_recevier}}</p>
    <p>Город</p>
    <p>{{cargo_city}}</p>
  </body>
</html>