<!DOCTYPE html>
<html>
<head>
    <style>
        html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html{line-height:1.15;-webkit-text-size-adjust:100%}body{margin:0}main{display:block}h1{font-size:2em;margin:.67em 0}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}img{border-style:none}button,input,optgroup,select,textarea{font-family:inherit;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}[type=button],[type=reset],[type=submit],button{-webkit-appearance:button}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:none;padding:0}[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details{display:block}summary{display:list-item}template{display:none}[hidden]{display:none}
/*# sourceMappingURL=/sm/5d8a97cdb40a6c49031b52d63494a6eca084416b5b035e5698fdc5fa0969b2c3.map */

body {
  font-family: Arial;
  font-size: 9pt;
}
table {
  font-size: 9pt;
}
table thead td {
  text-align: center;
  font-weight: 700;
}


.print > tbody > tr > td {
  border: none;
}
h3 {
  font-size: 14pt;
  font-weight: 700;
  margin-top: 10pt;
}

/* helpers */
.table-border td {border: 1px solid #000;}
.row-desc {
    border: none;
    text-align: center;
    font-size: 7pt;
    padding-top: 3px;
    padding-bottom: 3px;
}
// border
.b {border: 1px solid #000;}
.bb {border-bottom: 1px solid #000;}
.bt {border-top: 1px solid #000;}
.bl {border-left: 1px solid #000;}
.br {border-right: 1px solid #000}

.bb2 {border: 2px solid #000;}
.bbl {border-left: 2px solid #000;}
.bbr {border-right: 2px solid #000;}
.bbt {border-top: 2px solid #000;}
.bbb {border-bottom: 2px solid #000;}
// no-border
.no-b {border: none!important;}
.no-bb {border-bottom: none;}
.no-bt {border-top: none;}
.no-bl {border-left: none!important;}
.no-br {border-right: none;}
// padding
.psm {padding: 0 5px;}
.pt-5 {padding-top: 5px;}
.pt-10 {padding-top: 10px;}
.pt-15 {padding-top: 15px;}
.pl-10 {padding-left: 10px;}
.pr-10 {padding-right: 10px;}
// text
.text-bold {font-weight: 700;}
.text-center {text-align: center;}
.text-right {text-align: right; padding-right: 10px;}
.text-lead {font-size: 11pt;}
// height & width
.h20 {height: 20px;padding-top: 0;padding-bottom: 0;}
.h17 {height: 17px;padding-top: 0;padding-bottom: 0;}
.w20 {width: 20px;}
// table vertical align
.valign-bottom,
.valign-bottom td {vertical-align: bottom;}
.valign-middle,
.valign-middle td {vertical-align: middle;}
// common styles
// top panel
.no-print {
  background: #f3f3f3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  margin-top: 10px;
  margin-bottom: 20px;
  @media print {display: none;}
  .btn-print,
  .btn-add,
  .btn-delete {
    align-items: center;
    display: flex;
    justify-content: center;
    cursor: pointer;
    height: 50px;
    width: 33.333%;
    transition: all ease .3s;
    &:hover {background: #bbb;}
  }
}


// torg12
.print.ttn {width: 830pt;}
.table-ttn-date {
  td {padding: 2px;}
  tbody tr:last-child {
    td {
      border-top: 2px solid #000;
      border-bottom: 2px solid #000;
      &:first-child {border-left: 2px solid #000;}
      &:last-child {border-right: 2px solid #000;}
    }
  }
}



.table-torg12 {
  thead {
    td {
      font-weight: normal;
      vertical-align: middle;
    }
  }
  tbody {
    td {
      font-size: 8pt;
      padding: 1px 2px;
    }
    .td1 {width: 37px;text-align: center;}
    .td2 {width: 325px;}
    .td3 {width: 55px;text-align: center;}
    .td4 {width: 50px;text-align: center;}
    .td5 {width: 75px;text-align: center;}
    .td6 {width: 50px;text-align: center;}
    .td7 {width: 40px;text-align: center;}
    .td8 {width: 55px;text-align: center;}
    .td9 {width: 55px;text-align: center;}
    .td10 {width: 55px;text-align: center;}
    .td11 {width: 50px;text-align: center;}
    .td12 {width: 65px;text-align: right;}
    .td13 {width: 65px;text-align: center;}
    .td14 {width: 65px;text-align: right;}
    .td15 {width: 65px;text-align: right;}
  }
}
    </style>
</head>
<body>
<table class="print ttn">
  <tr><td colspan="2" class="text-right row-desc"><p>Унифицированная форма № ТОРГ-12 Утверждена постановлением Госкомстата России от 25.12.98 № 132</p></td></tr>
  <tr><td colspan="2" class="pt-5"></td></tr>
  <tr>
    <td>
      <table class="valign-middle" width="100%">
        <tbody>
          <tr>
            <td colspan="3"></td>
            <td class="b text-center" width="100">Код</td>
          </tr>
          <tr>
            <td colspan="3" class="h17 psm text-right">Форма по ОКУД</td>
            <td class="text-center bb2" contenteditable>345678</td>
          </tr>
          <tr>
           <td colspan="2" class="bb" contenteditable>ИП Ахмедов Сабир Табассумович, ИНН: 502765138514, Российская Федерация, 358007, Республика
              Калмыкия, г.Элиста, мкр. 1, дом 41, кв. 73.</td>
            <td class="psm text-right">по ОКПО</td>
            <td class="b bbl bbr text-center" contenteditable>0153735163</td>
        </tr>
        <tr>
          <td colspan="2" class="row-desc">(организация-грузоотправитель, адрес, телефон, факс, банковские реквизиты)</td>
          <td></td>
          <td class="b bb2 text-center" rowspan="2" contenteditable></td>
          </tr>
        <tr><td colspan="3" class="bb" contenteditable></td></tr>
        <tr>
          <td colspan="2" class="row-desc">(структурное подразделение)</td>
          <td>Вид деятельности по ОКДП</td>
          <td class="b bb2 text-center" contenteditable></td>
        </tr>
        <tr>
         <td width="105px">Грузополучатель</td>
         <td class="bb" contenteditable> {{ user.cargo_recevier }}</td>
          <td class="psm text-right">по ОКПО</td>
          <td class="b bb2 text-center" contenteditable></td>
        </tr>
        <tr>
          <td colspan="2" class="row-desc">(организация, адрес, телефон, факс, банковские реквизиты)</td>
          <td></td>
          <td class="b bb2 text-center" rowspan="2" contenteditable></td>
        </tr>
        <tr>  
         <td>Поставщик</td>
         <td class="bb" contenteditable>ИП Ахмедов Сабир Табассумович, ИНН: 502765138514, Российская Федерация, 358007, Республика
              Калмыкия, г.Элиста, мкр. 1, дом 41, кв. 73., р/с 40802810270010175519, в банке МОСКОВСКИЙ ФИЛИАЛ АО КБ "МОДУЛЬБАНК", БИК 044525092, к/с 3010181064525000009</td>
          <td class="psm text-right">по ОКПО</td>
        </tr>
        <tr>
          <td colspan="2" class="row-desc">(организация, адрес, телефон, факс, банковские реквизиты)</td>
          <td></td>
          <td class="b bb2 text-center" rowspan="2" contenteditable></td>
          </tr>
        <tr>
         <td>Плательщик</td>
         <td class="bb" contenteditable>{{ user.ceo_full }}, {{ user.inn }}, {{ user.law_address }}</td>
          <td class="psm text-right">по ОКПО</td>
        </tr>
        <tr>
          <td colspan="2" class="row-desc">(организация, адрес, телефон, факс, банковские реквизиты)</td>
          <td class="b text-right psm" rowspan="2">номер</td>
          <td class="b bbl bbr text-center" rowspan="2" contenteditable></td>
          </tr>
        <tr>
         <td class="col-4 no-bb">Основание</td>
         <td class="bb" contenteditable>–</td>
        </tr>
        <tr>
          <td colspan="2" class="row-desc">(договор, заказ-наряд)</td>
          <td class="b h17 text-right psm">дата</td>
          <td class="b bbl bbr text-center" contenteditable></td>
        </tr>
        <tr>
          <td colspan="2"><p class="text-lead text-right psm">Транспортная накладная</p></td>
          <td class="b h17 psm text-right">номер</td>
          <td class="b bbl bbr text-center" contenteditable></td>
          </tr>
         <tr>
            <td colspan="2"></td>
            <td class="b h17 text-right psm">дата</td>
            <td class="b bbl bbr text-center" contenteditable></td>
         </tr>
         <tr>
            <td colspan="3" class="text-right psm">Вид операции</td>
            <td class="b bbb bbl bbr h17 text-center" contenteditable></td>

         </tr>
       </tbody>
      </table>
    </td>
  </tr>
  <!------------------------>
  <tr>
    <td colspan="2">
      <table width="100%">
        <tr>
          <td class="text-lead text-bold text-right psm" style="vertical-align: middle">ТОВАРНАЯ НАКЛАДНАЯ</td>
          <td class="psm">
            <table class="text-center table-border table-ttn-date">
              <tr>
               <td>Номер документа</td>
               <td>Дата составления</td>
              </tr>
              <tr>
               <td contenteditable="">Н{{id }}</td>
               <td contenteditable="">{{dateDay}} {{dateMonth}} {{dateYear}}</td>
              </tr>
             </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  
<!--  *************  -->
  
  <tr>
    <td colspan="2"><br>
      <table class="table-torg12 table-border" width="100%">
       <thead>
       <tr>
        <td rowspan="2" class="text-center">Но-<br>мер<br>по по-<br>рядку</td>
        <td colspan="2">Товар</td>
        <td colspan="2"><nobr>Единица измерения</nobr></td>
        <td rowspan="2">Вид упа-<br>ковки</td>
        <td colspan="2">Количество</td>
        <td rowspan="2">Масса<br>брутто</td>
        <td rowspan="2">Коли-<br>чество<br>(масса<br>нетто)</td>
        <td rowspan="2">Цена,<br>руб. коп.</td>
        <td rowspan="2"> <nobr>Сумма без </nobr><br>учета НДС,<br>руб. коп. </td>
        <td colspan="2">НДС</td>
        <td rowspan="2">Сумма с<br>учетом<br>НДС,<br>руб. коп.</td>
       </tr>
       <tr>
        <td>наименование, характеристика, сорт, артикул товара</td>
        <td>код</td>
        <td>наиме-<br>нование</td>
        <td>код по ОКЕИ</td>
        <td> в<br>одном<br>месте </td>
        <td> мест, <br> штук </td>
        <td>ставка, %</td>
        <td>сумма,<br>руб. коп.</td>
       </tr>
       <tr>
        <td>1</td>
        <td>2</td>
        <td>3</td>
        <td>4</td>
        <td>5</td>
        <td>6</td>
        <td>7</td>
        <td>8</td>
        <td>9</td>
        <td>10</td>
        <td>11</td>
        <td>12</td>
        <td>13</td>
        <td>14</td>
        <td>15</td>
       </tr>
       </thead>
       <tbody class="torg12-content">
      {{#each items}}
       <tr>
         <td class="td1">{{rowNum}}</td>
         <td class="td2">{{name}}</td>
         <td class="td3"></td>
         <td class="td4">шт</td>
         <td class="td5">796</td>
         <td class="td6"></td>
         <td class="td7"></td>
         <td class="td8"></td>
         <td class="td9"></td>
         <td class="td10">{{price}},00</td>
         <td class="td11">{{quantity}},00</td>
         <td class="td12">{{sum}},00</td>
         <td class="td13">Без НДС</td>
         <td class="td14"></td>
         <td class="td15"><nobr>{{sum}},00</nobr></td>
       </tr>
       {{/each}}
         
       </tbody>
       <tbody>
         <tr>
          <td colspan="7" align="right" class="no-b psm">Итого </td>
          <td align="center">{{totalCount}}</td>
          <td></td>
          <td align="center">{{totalCount}},000</td>
          <td align="center">X</td>
          <td align="right">{{totalPrice}},00</td>
          <td align="center">X</td>
          <td></td>
          <td align="right">{{totalPrice}},00</td>
        </tr>
        <tr class="sale-row">
          <td colspan="7" align="right" class="no-b psm">Скидка: </td>
          <td class="no-b"></td>
          <td class="no-b"></td>
          <td class="no-b"></td>
          <td align="center">X</td>
          <td align="right">0,00</td>
          <td align="center">X</td>
          <td></td>
          <td align="right">0,00</td>
         </tr>
         <tr>
          <td colspan="7" align="right" class="no-b psm">Всего по накладной </td>
          <td align="center">{{totalCount}}</td>
          <td></td>
          <td align="center">{{totalCount}},000</td>
          <td align="center">X</td>
          <td align="right">{{totalPrice}},00</td>
          <td align="center">X</td>
          <td></td>
          <td align="right">{{totalPrice}},00</td>
         </tr>
      </tbody>
       </table>
    <!----------------------------->
      <br>
      <table width="85%" align="right">
         <tbody><tr>
          <td>
           <table width="60%">
            <tbody><tr>
             <td colspan="2">Товарная накладная имеет приложение на</td>
             <td class="bb" width="50%" contenteditable></td>
              <td>листах</td>
            </tr>
           </tbody></table>
           <table width="100%">
            <tbody><tr>
             <td>и содержит</td>
             <td class="bb" colspan="2" width="45%" contenteditable>{{wordRowCount}}</td>
             <td>порядковых номеров записей</td>
            </tr>
            <tr><td class="row-desc" colspan="3">(прописью)</td></tr>
           </tbody></table>
          </td>
         </tr>
        </tbody></table>
      <!------------------>
      <table width="85%" align="right" class="valign-bottom">
        <tr>
          <td colspan="3" align="right" class="pr-10">Масса груза (нетто)	</td>
          <td class="bb" contenteditable align="center"></td>
          <td class="bb2 h20" width="195" align="center" contenteditable></td>
        </tr>
        <tr>
          <td colspan="3"></td>
          <td class="row-desc">(прописью)</td>
          <td rowspan="2" class="bb2" align="center" contenteditable></td>
        </tr>
        <tr>
          <td width="100">Всего мест</td>
          <td class="bb" width="130" contenteditable></td>
          <td width="150" align="right" class="pr-10">Масса груза (брутто)</td>
          <td class="bb" contenteditable align="center"></td>
        </tr>
        <tr>
          <td></td>
          <td class="row-desc">(прописью)</td>
          <td></td>
          <td class="row-desc">(прописью)</td>
          <td></td>
        </tr>
      </table>
    </td>
  </tr>
  <!--  *******  -->
  <tr>
    <td>
      <br><br>
      <table width="100%">
        <tr>
          <td width="50%" style="border-right: 1px solid #000;">
            <table>
              <tr>
                <td class="pr-10">Приложение (паспорта, сертификаты и т.п.) на</td>
                <td class="bb" width="150" contenteditable></td>
                <td class="pl-10">листах</td>
              </tr>
              <tr>
                <td></td>
                <td class="row-desc">(прописью)</td>
                <td></td>
              </tr>
              <tr>
                <td colspan="3" class="text-bold bb">Всего отпущено на сумму<br> {{wordSum}} рублей 00 копеек</td>
              </tr>
              <tr><td colspan="3" class="row-desc">(прописью)</td></tr>
            </table>
            <!-------------------->
            <table>
              <tr>
                <td class="pr-10">Отпуск груза разрешил</td>
                <td class="bb" width="120" align="center" contenteditable>ИП</td>
                <td class="w20"></td>
                <td class="bb" width="100"></td>
                <td class="w20"></td>
                <td class="bb" width="140" align="center" contenteditable>Ахмедов С. T.</td>
              </tr>
              <tr>
                <td></td>
                <td class="row-desc">(должность)</td>
                <td></td>
                <td class="row-desc">(подпись)</td>
                <td></td>
                <td class="row-desc">(расшифровка подписи)</td>
              </tr>
              <tr>
                <td class="pr-10" colspan="2">Главный (старший) бухгалтер</td>
                <td class="w20"></td>
                <td class="bb" width="100"></td>
                <td class="w20"></td>
                <td class="bb" width="140" contenteditable></td>
              </tr>
              <tr>
                <td colspan="2"></td>
                <td></td>
                <td class="row-desc">(подпись)</td>
                <td></td>
                <td class="row-desc">(расшифровка подписи)</td>
              </tr>
              <tr>
                <td class="pr-10">Отпуск груза произвел</td>
                <td class="bb" width="120" align="center" contenteditable>ИП</td>
                <td class="w20"></td>
                <td class="bb" width="100"></td>
                <td class="w20"></td>
                <td class="bb" width="140" align="center" contenteditable>Ахмедов С. T.
                  <img style="position: absolute; top: 650px; left: 300px;" src="{{print}}" width="100" height="100" />
                  <img style="position: absolute; top: 650px; left: 300px;" src="{{sign}}" width="100" height="100" />
                </td>
              </tr>
              <tr>
                <td></td>
                <td class="row-desc">(должность)</td>
                <td></td>
                <td class="row-desc">(подпись)</td>
                <td></td>
                <td class="row-desc">(расшифровка подписи)</td>
              </tr>
            </table>
            <br>
            <table align="right" width="75%" contenteditable="">
              <tbody>
               <tr>
               <td width="25%">М.П.</td>
               <td>" {{dateDay}} "</td>
               <td width="25%" class="bb">{{dateMonth}}</td>
               <td>{{dateYear}}</td>
               <td width="25%"></td>
              </tr>
             </tbody>  
            </table>
          </td>
          <!------------------------->
          <td class="pl-10">
            <table class="valign-bottom">
              <tr>
                <td class="pr-10">По доверенности №</td>
                <td class="bb" width="150"></td>
                <td class="psm bb" style="border-bottom-color: #fff;">от</td>
                <td class="bb" width="245"></td>
              </tr>
              <tr>
                <td>выданной</td>
                <td class="bb h20" colspan="3"></td>
              </tr>
              <tr>
                <td></td>
                <td colspan="3" class="row-desc">(кем, кому (организация, должность, фамилия, и. о.))</td>
              </tr>
              <tr><td></td><td class="bb h20" colspan="3"></td></tr>
            </table>
            <br>
            <table>
              <tr>
                <td class="pr-10">Груз принял</td>
                <td class="bb" width="120"></td>
                <td class="w20"></td>
                <td class="bb" width="100"></td>
                <td class="w20"></td>
                <td class="bb" width="140"></td>
              </tr>
              <tr>
                <td></td>
                <td class="row-desc">(должность)</td>
                <td></td>
                <td class="row-desc">(подпись)</td>
                <td></td>
                <td class="row-desc">(расшифровка подписи)</td>
              </tr>
              <tr>
                <td class="pr-10">Груз получил грузополучатель</td>
                <td class="bb" width="120"></td>
                <td class="w20"></td>
                <td class="bb" width="100"></td>
                <td class="w20"></td>
                <td class="bb" width="140"></td>
              </tr>
              <tr>
                <td></td>
                <td class="row-desc">(должность)</td>
                <td></td>
                <td class="row-desc">(подпись)</td>
                <td></td>
                <td class="row-desc">(расшифровка подписи)</td>
              </tr>
            </table>
            <br>
            <table align="right" width="75%" contenteditable="">
              <tbody>
               <tr>
               <td width="25%">М.П.</td>
               <td class="psm">" &nbsp; &nbsp; "</td>
               <td width="25%" class="bb"></td>
               <td class="psm">20 &nbsp; &nbsp; года</td>
               <td width="25%"></td>
              </tr>
             </tbody>  
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  
</table>

</body>
</html>